<!-- {{#each coord}} -->
<!-- <h1>weather of {{city}}</h1> -->
<!-- <h2>{{main}}</h2> -->
<!-- {{/each}} -->
<h1>Result of {{city}}</h1>
<table>
  <thead>
    <th>Temp High</th>
    <th>Temp Low</th>
    <tr>
      <td>{{tempHigh}}</td>
      <td>{{tempLow}}</td>
    </tr>
  </thead>
</table>
<p>
  Weather is {{weather}}
</p>
